sa-token:
  cookie:
    secure: false
    httpOnly: true
  token-name: Authorization # token 名称（同时也是 cookie 名称）
  timeout: 604800  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
  active-timeout: -1  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  is-concurrent: true  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-share: false  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  token-style: uuid  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
  is-log: true  # 是否输出操作日志
  jwt-secret-key: sanakeyidSDWasdWsdjnusadFasdcewsasdDQWedwfdasefAS # jwt秘钥
  ignore-config:
    paths:
      - /sys/captcha/getCaptcha
      - /sys/captcha/enabled
      - /sys/auth/login
      - /sys/auth/ver
      - /sys/auth/send/code
      - /upload/**
      - /v3/api-docs/**
      - /webjars/**
      - /swagger/**
      - /swagger-resources/**
      - /swagger-ui.html
      - /doc.html
      - /swagger-ui/**
      - /favicon.ico
# 文件存储
storage:
  minio:
    access-key: Y2j5CZqWVsyWsvkTYjhR
    secret-key: ro2TfKWjV07JrbuOTXBhT1XEsq0Rqp5PGzzRQNXRY
    end-point: http://127.0.0.1:9000
    bucket-name: dev

spring:
  # 是否开启登录验证码
  captchaEnabled: true
  # 数据库连接信心
  data:
    redis:
      database: 1
      host: 127.0.0.1
      port: 6379
      password: 1234...
      timeout: 6000ms  # 连接超时时长（毫秒）
      lettuce:
        pool:
          max-active: 20    # 最大活跃连接数
          max-idle: 10      # 最大空闲连接
          min-idle: 5       # 最小空闲连接
          max-wait: 5000ms  # 获取连接最大等待时间
          time-between-eviction-runs: 30000ms  # 空闲连接检查周期
      stream:
        core-pool-size: 3 #处理逻辑时线程池的核心线程数
        max-pool-size: 3  #线程池最大线程数
        queue-capacity: 500 # 队列容量，默认：500
        batch-size: 40    #批量消费数量(一次最多获取多少条消息)
        poll-timeout-seconds: 3 # Stream中没有消息时，等待时间
        streams:          # 环境运行的时候，请一定要先创建好对应的stream；
          - name: sana:stream:topic-ruleo  # 设备规则处理stream1
            group: group-rule1
          - name: sana:stream:topic-rulet  # 设备规则处理stream2
            group: group-rule2
          - name: sana:stream:topic-rulej  # 定时规则处理stream
            group: group-rulejob
  datasource:
    dynamic:
      hikari: # Hikari 连接池全局配置
        connection-timeout: 30000     # 等待连接池分配链接的最大时长（毫秒），超过这个时长还没有可用的连接则发生 SQLException，默认：30 秒
        minimum-idle: 2               # 最小空闲连接数
        maximum-pool-size: 10         # 最大连接数
        idle-timeout: 600000          # 连接超时的最大时长（毫秒），超时则被释放（retired），默认：10 分钟
        max-lifetime: 1800000         # 连接的生命时长（毫秒），超时而且没被使用则被释放（retired），默认： 30 分钟
        connection-test-query: SELECT 1
      primary: mysql
      datasource:
        mysql:
          # MySQL8
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://127.0.0.1:3306/sana?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true
          username: root
          password: 1234...
          # TDengine
        tdengine:
          #原生链接，需要配置客户端
          #driver-class-name: com.taosdata.jdbc.TSDBDriver
          #url: jdbc:TAOS://127.0.0.1:6041/sana?charset=UTF-8&locale=en_US.UTF-8&timezone=UTC-8
          #REST 连接
          driver-class-name: com.taosdata.jdbc.rs.RestfulDriver
          url: jdbc:TAOS-RS://127.0.0.1:6041/lana?charset=UTF-8&locale=en_US.UTF-8&timezone=UTC-8
          username: root
          password: 1234...

# ZLMediaKit,目前计划整合拉流两种方式，前端播放以webrtc为主。
zlm:
  enable: true # 是否启用，未启用不会加载
  nodes: # zlm节点列表，每个节点配置如下
    - server-id: zlm-node-1 # 节点ID，可自定义
      host: "127.0.0.1" # 节点地址
      secret: KqErX1KUSnoGn3IpHsadl8KyLSAdmVgLlpa # 节点密钥
      enabled: true # 节点是否启用
      hook-enabled: true # 节点是否启用hook接口，启用hook会注入hook接口，默认true，需要注意拦截器放通
    - server-id: zlm-node-2 # 可配置多个节点
      host: "127.0.0.1"
      secret: KqErX1KUSnoGn3IpHsadl8KyLSAdmVgLlpa
      enabled: false
      hook-enabled: true

# mqtt
mqtt:
  mqtt-message:                # 服务端配置
    core-size:  2              #  线程池核心线程数
    queue-capacity: 500        # 队列容量，默认：500
  server:
    enabled: true             # 是否开启服务端，默认：true
    ip: 0.0.0.0                # 服务端 ip 默认为0.0.0.0,
    port: 1884                 # 端口，默认：1883
    name: Mqtt-broker(测试环境不开放端口)      # 名称，默认：Mica-Mqtt-Server
    heartbeat-timeout: 120000   # 心跳超时，单位毫秒，默认: 1000 * 120
    read-buffer-size: 8KB       # 接收数据的 buffer size，默认：8k
    max-bytes-in-message: 10MB  # 消息解析最大 bytes 长度，默认：10M
    auth:
      enable: true              # 是否开启 mqtt 认证
      username: root            # mqtt 认证用户名
      password: MqttNB!%#...           # mqtt 认证密码
    debug: false                # 如果开启 prometheus 指标收集建议关闭
    stat-enable: false          # 开启指标收集，debug 和 prometheus 开启时需要打开，默认开启，关闭节省内存
    proxy-protocol-enable: false   # 代理协议支持，nginx 可开启 tcp proxy_protocol on; 时转发源 ip 信息。2.4.1 版本开始支持
    web-port: 8084             # http、websocket 端口，默认：8083
    websocket-enable: true      # 是否开启 websocket，默认： true
    http-enable: true           # 是否开启 http api，默认： false
    http-basic-auth:
      enable: true              # 是否开启 http basic auth，默认： false
      username: root            # http basic auth 用户名
      password: MqttNB!%#...    # http basic auth 密码
    ssl:                        # mqtt tcp ssl 认证
      enabled: false            # 是否开启 ssl 认证，2.1.0 开始支持双向认证
      keystore-path:            # 必须参数：ssl keystore 目录，支持 classpath:/ 路径。
      keystore-pass:            # 必选参数：ssl keystore 密码
      truststore-path:          # 可选参数：ssl 双向认证 truststore 目录，支持 classpath:/ 路径。
      truststore-pass:          # 可选参数：ssl 双向认证 truststore 密码
      client-auth: none         # 是否需要客户端认证（双向认证），默认：NONE（不需要），REQUIRE（需要）
    linkType: 0                 # 连接类型，暂无用处，后续预留
  client:
    enabled: true               # 是否开启客户端，默认：true
    proxy-prefix : '/SB/#'          # 代理前缀（以‘SB’前缀为例，则默认订阅已经连接broker的：/SB/#）
    proxy-status-prefix : /SBSTUTA    # 代理前缀（以‘SBSTUTA’前缀为例，则默认订阅已经连接broker的：/SBSTUTA，用于检测代理的设备连接状态。注意：如果使用的emqx，则需要配置一条上下线的规则，转发到该主题上来）
    ip: 127.0.0.1               # 连接的服务端 ip（这里的ip为emqx，或者是其他第三方的mqtt-broker） ，默认：127.0.0.1
    port: 1883                  # 端口：默认：1883
    name: Mqtt-client(作为代理服务器的 代理监听客户端)      # 名称，默认：Mica-Mqtt-Client
    client-id: lana-mqttClient           # 客户端Id（非常重要，一般为设备 sn，不可重复）
    user-name: admin            # 认证的用户名
    password: admin123     # 认证的密码
    global-subscribe:           # 全局订阅的 topic，可被全局监听到，保留 session 停机重启，依然可以接受到消息。（2.2.9开始支持）
    timeout: 5                  # 超时时间，单位：秒，默认：5秒
    reconnect: true             # 是否重连，默认：true
    re-interval: 5000           # 重连时间，默认 5000 毫秒
    version: mqtt_3_1_1         # mqtt 协议版本，可选 MQTT_3_1、mqtt_3_1_1、mqtt_5，默认：mqtt_3_1_1
    read-buffer-size: 8KB       # 接收数据的 buffer size，默认：8k
    max-bytes-in-message: 10MB  # 消息解析最大 bytes 长度，默认：10M
    keep-alive-secs: 60         # keep-alive 时间，单位：秒
    heartbeat-mode: LAST_REQ    # 心跳模式，支持最后发送或接收心跳时间来计算心跳，默认：最后发送心跳的时间。（2.4.3 开始支持）
    heartbeat-timeout-strategy: PING # 心跳超时策略，支持发送 PING 和 CLOSE 断开连接，默认：最大努力发送 PING。（2.4.3 开始支持）
    clean-session: true         # mqtt clean session，默认：true
    session-expiry-interval-secs: 0 # 开启保留 session 时，session 的有效期，默认：0（2.4.2 开始支持）
    biz-thread-pool-size: 2     # mqtt 工作线程数，默认：2，如果消息量比较大，处理较慢，例如做 emqx 的转发消息处理，可以调大此参数（2.4.2 开始支持）
    ssl:
      enabled: false            # 是否开启 ssl 认证，2.1.0 开始支持双向认证
      keystore-path:            # 可选参数：ssl 双向认证 keystore 目录，支持 classpath:/ 路径。
      keystore-pass:            # 可选参数：ssl 双向认证 keystore 密码
      truststore-path:          # 可选参数：ssl 双向认证 truststore 目录，支持 classpath:/ 路径。
      truststore-pass:          # 可选参数：ssl 双向认证 truststore 密码
